body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  overflow-y: auto;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.nav {
  &-horizontal {
    overflow-y: auto;
    min-height: 100%;
    height: auto;
    width: 125px;
    background-color: #000C4A;
    padding: 25px 0;
    @media only screen and (max-width: 600px) {
      width: 100%;
      padding: 25px 0 15px;
    }
    ul {
      li {
        div {
          line-height: 1;
          padding-bottom: 30px;
          @media only screen and (max-width: 600px) {
            line-height: 1;
            padding: 25px 25px 32px;
          }          
        }
      }
    }    
    .row {
      margin-bottom: 0;
    }
    .logo-mobile {
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
      background-color: #000C4A;
      a {
        padding: 32px;
        line-height: 1;
        height: auto;
      }
    }
    .nav_wrapper {
      ul li a.logo {
        @media only screen and (max-width: 600px) {
          padding: 0 15px; 
          line-height: 1;
        }
      }
    }
  }
}

main {
  flex: 1 0 auto;
  width: calc(100% - 125px);
  @media only screen and (max-width: 600px) {
    width: 100%;
  }  
}

.nav_wrapper .fa-bars{
  font-size: 25px;
}

.nav_wrapper .group{
  width: 100%
}

footer{
  margin-top: 20px;
}
 
.dash-status{
  text-transform: capitalize;
}

#delete-form{
  display: inline;
}

.br {
  &_container {
    // max-width: 1280px;
    padding: 0;
    display: flex;
    flex-direction: column;    
    height: 100%;
    h1 {
      font-size: 35px;
      line-height: 37px;
      font-weight: 600;
      text-transform: capitalize;
    }
  }
  &_tabs {
    .tab {
      a {
        color: #000;
        &.active {
          color: #000;
          border-bottom: 4px solid #5B8CED;
        }
      }
    }
  }
}


.home {
  &_welcome {
    flex-direction: column;
    .nav-horizontal {
      width: 100%;
    }
    .home_wrapper {
      max-width: 100%;
      width: 100%;
      height: calc(100vh - 90px);
    }
    main {
      width: 100%; 
    }
    .nav_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &_wrapper {
    display: flex;
    flex-direction: column;
    background-image: url('/images/UGC_Collage_2.png');
    height: 100%;
  }
  &_container {
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
    max-width: 1140px;
    margin: auto;
  }
  .row {
    margin-bottom: 0;
  }
  &_content {
    display: flex;
    flex-direction: column;
    &-header {
      text-align: center; 
      padding: 40px 20px;
      width: 75%;
      margin: 0 auto;
      @media only screen and (max-width: 600px) {
        width: 100%;
      }
      h2 {
        font-size: 31px;
        line-height: 33px;
        font-weight: 600;
        margin: 0;
        padding-bottom: 15px;
      }
      p {
        margin: 0;
        padding-bottom: 15px;
      }
    }
    &-wrapper {
      max-width: 1140px;
      margin: 35px auto;
      .row {
        // display: flex;
        // align-items: flex-start;
      }
      h3 { 
        font-size: 26px;
        line-height: 28px;
        font-weight: 600;
        margin: 0;
        padding-bottom: 15px;
      }
    }
  }
  &_copy {
    @media only screen and (max-width: 600px) {
      width: 100%;
      text-align: center; 
      padding: 20px;
      margin: 0 auto;        
    }
  }
}

.proposal {
  &_wrapper {
    display: flex;
    flex-direction: column;
    .row {
      margin-bottom: 0;
    }
  }
  &_topbar {
    display: flex;
    padding: 20px 0 0;
    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }
  }
  &_filter {
    display: flex;
    align-items: center;    
    background-color: #f3f3f3;
    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }    
    .row {
      margin-bottom: 0;
    }
  }
  &_item {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #E2E2E2;
    padding: 10px 0 8px;
    @media only screen and (max-width: 600px) {
      padding: 20px 0 18px;
      flex-direction: column;
    }
    .btn-floating {
      bottom: 20px;
    }
  }
  &_title {
    font-size: 35px;
    line-height: 37px;
    font-weight: 600;
    margin: 0; 
    padding: 0 0 10px;
    @media only screen and (max-width: 600px) {
      padding: 0 0 10px;
    }    
  }
  &_image {
    max-width: 87px; 
    min-width: 87px; 
    @media only screen and (max-width: 600px) {
      max-width: 100%; 
      min-width: 100%; 
    }
  }
  &_add {
    &-wrapper{
      margin: 20px 0 0;
    }
  }
  &_show {
    &-topbar {
      margin-bottom: 0;
    }
    &-content {
      display: flex;
      padding: 20px 0;
      @media only screen and (max-width: 600px) {
        //flex-direction: column;
        flex-direction: column-reverse
      }      
    }
  }
  &-label {
    padding: 0;
    margin: 0 0 -15px;
    font-weight: 600;
    font-style: italic;
  }
  &-btn {
    @media only screen and (max-width: 600px) {
      width: 100%; 
    }
  }
  p{
    margin: 0;
  }
}

// Colors
.primary {
  background-color: #5B8CED !important;
}
.alternate {
  background-color: #F3F3F3 !important;
}
.grey-1 {
  background-color: #f8f9fa !important;
}


//Helpers
.no-margin {
  margin: 0 !important;
}
.no-margin--top {
  margin-top: 0 !important;
}
.no-margin--bottom {
  margin-bottom: 0 !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.word-break {
  word-break: break-word;
}
.pull-right-sm {
  @media only screen and (max-width: 600px) {
    float: right;
  }  
}
.pull-right-md {
  @media only screen and (min-width: 601px) {
    float: right;
  }    
}
.group:before,
.group:after {
  content: "";
  display: table;
} 
.group:after {
  clear: both;
}
.row .col.m-auto {
  @media only screen and (min-width: 601px) {  
    width: auto;
  }
}

.proposal-row {
  display: none;
}

.proposal-row.active {
  display: block;
}

//Hide edit button. remove later
.btn-floating.halfway-fab.red {
  display: none;
}