body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  overflow-y: auto;
}

.nav {
  &-horizontal {
    overflow-y: auto;
    min-height: 100%;
    height: auto;
    width: 125px;
    background-color: #000C4A;
    padding: 25px 0;

    ul {
      li {
        a {
          line-height: 1;
          padding-bottom: 30px;
        }
      }
    }    
    .row {
      margin-bottom: 0;
    }
  }
}

main {
  flex: 1 0 auto;
  width: calc(100% - 125px);
}

.nav-wrapper .fa-bars{
  font-size: 25px;
}

footer{
  margin-top: 20px;
}
 
.dash-status{
  text-transform: capitalize;
}

#delete-form{
  display: inline;
}

.br {
  &_container {
    // max-width: 1280px;
    padding: 0;
    display: flex;
    flex-direction: column;    
    height: 100%;
    h1 {
      font-size: 35px;
      line-height: 37px;
      font-weight: 600;
      text-transform: capitalize;
    }
  }
  &_tabs {
    .tab {
      a {
        color: #000;
        &.active {
          color: #000;
          border-bottom: 4px solid #5B8CED;
        }
      }
    }
  }
}


.home {
  &_welcome {
    flex-direction: column;
    .nav-horizontal {
      width: 100%;
      ul li a {
        padding: 0 15px;
      }
    }
    .home_wrapper {
      max-width: 100%;
      width: 100%;
      height: calc(100vh - 90px);
    }
    main {
      width: 100%; 
    }
    .nav_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &_wrapper {
    display: flex;
    flex-direction: column;
    background-image: url('/images/UGC_Collage_2.png');
    height: 100%;
  }
  &_container {
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
    max-width: 1140px;
    margin: auto;
  }
  .row {
    margin-bottom: 0;
  }
  &_content {
    display: flex;
    flex-direction: column;
    &-header {
      text-align: center; 
      padding: 40px 20px;
      width: 75%;
      margin: 0 auto;
      h2 {
        font-size: 31px;
        line-height: 33px;
        font-weight: 600;
        margin: 0;
        padding-bottom: 15px;
      }
      p {
        margin: 0;
        padding-bottom: 15px;
      }
    }
    &-wrapper {
      max-width: 1140px;
      margin: 35px auto;
      .row {
        display: flex;
        align-items: flex-start;
      }
      h3 { 
        font-size: 26px;
        line-height: 28px;
        font-weight: 600;
        margin: 0;
        padding-bottom: 15px;
      }
    }
  }
}

.proposal {
  &_wrapper {
    display: flex;
    flex-direction: column;
    .row {
      margin-bottom: 0;
    }
  }
  &_topbar {
    display: flex;
    padding: 20px 0 0;
    
  }
  &_filter {
    display: flex;
    align-items: center;    
    background-color: #f3f3f3;
    .row {
      margin-bottom: 0;
    }
  }
  &_item {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #E2E2E2;
    padding: 10px 0 8px;

    .btn-floating {
      bottom: 20px;
    }
  }
  &_title {
    font-size: 35px;
    line-height: 37px;
    font-weight: 600;
    margin: 0; 
    padding: 0 0 10px;
  }
  &_image {
    max-width: 87px; 
    min-width: 87px; 
  }
  &_add {
    &-wrapper{
      margin: 20px 0 0;
    }
  }
  &_show {
    &-topbar {
      margin-bottom: 0;
    }
    &-content {
      display: flex;
      padding: 20px 0;
    }
  }
  p{
    margin: 0;
  }
}

// Colors
.primary {
  background-color: #5B8CED !important;
}
.alternate {
  background-color: #F3F3F3 !important;
}
.grey-1 {
  background-color: #f8f9fa !important;
}


//Helpers
.no-margin {
  margin: 0 !important;
}
.no-margin--top {
  margin-top: 0 !important;
}
.no-margin--bottom {
  margin-bottom: 0 !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

//Hide edit button. remove later
.btn-floating.halfway-fab.red {
  display: none;
}