<footer class="page-footer grey">
  <div class="no-margin--bottom row">
    <div class="col l4 s12">
      <div style="margin:10px;">
        <h5 class="white-text">Byte Rights</h5>
        <p class="grey-text text-lighten-4">Licensing made easy</p>
        <p class="grey-text text-lighten-4">&copy; 2019 Byte Rights</p>
      </div>
    </div>
    <div class="col l4 s12">
      <div style="margin:10px;">
        <h5 class="white-text">Pages</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/businesses">Businesses</a></li>
          <li><a class="grey-text text-lighten-3" href="/creatives">Creatives</a></li> 
          <li><a class="grey-text text-lighten-3" href="/howitworks">How it Works</a></li> 
        </ul>
      </div>  
    </div>
    <div class="col l4 s12">
      <div style="margin:10px;">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/termsofuse">Terms of Use</a></li>
          <li><a class="grey-text text-lighten-3" href="/privacypolicy">Privacy Policy</a></li> 
        </ul>
      </div>  
    </div>
  </div>  
</footer>
    