<nav class="nav-horizontal">
  <div class="row"> 
    <div class="col s12">
      <div class="nav_wrapper">
        <ul class="group">
          <li><a href="/proposals/my" class="logo" style="height:35px;"><img src="/images/BR_Logo_Transparent.png" width="74" height="35"/></a></li>
            {{#if user}}
            <li class="pull-right-sm pull-right-md"><a href="#" data-target="main-menu" class="sidenav-trigger show-on-small hide-on-med-and-up"><i class="fa fa-bars"></i></a></li>
            
            {{!-- desktop version when user is not logged in top navigation bar --}}
            {{else}}
              <li class="pull-right-sm pull-right-md"><a href="#" data-target="main-menu" class="sidenav-trigger show-on-small"><i class="fa fa-bars"></i></a></li>
              <ul class="hide-on-med-and-down pull-right-lg">
                <li><a href="/businesses">Businesses</a></li>
                <li><a href="/creatives">Creatives</a></li>
                <li><a href="/howitworks">How it Works</a></li>
                <li><a href="/pricing">Pricing</a></li>
                <li><a href="/pioneers">Pioneers</a></li>
                <li><button data-target="modalLogin" class="btn brPink modal-trigger">Login</button></li>
              </ul>
            {{/if}}
          
        </ul>  
        {{!-- Left Nav --}}
        {{!-- side navigation bar for desktop  --}}
        <ul class="hide-on-small-only">
          {{#if user}} 
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/proposals/my" class="active">Proposals</a></li>
            <li><a href="/offers/mySubmissions" class="active">Giveaways</a></li>
            <li><a href="/about" class="active">About</a></li>
            {{!-- <li><a href="/businesses">Businesses</a></li>
            <li><a href="/creatives" class="active">Creatives</a></li> --}}
            {{!-- <li><a href="/support">Support</a></li> --}}
            <li><a href="/pioneers">Pioneers</a></li>
            <li><a href="/auth/logout">Logout</a></li>
          {{else}} 
          {{/if}}
        </ul>

        {{!-- side menu --}}
        {{!-- mobile side navigation bar --}}
        <ul class="sidenav" id="main-menu">        
          {{#if user}}

          {{else}}
          {{!-- <li><a data-target="modalLogin" class="btn brPink modal-trigger">Login</a></li> --}}
          
            {{!-- <li>
              <a class = "btn red darken-1" href="/auth/google">
              <i class="fa fa-google left"> </i>Login With Google
              </a>
            </li>
            <li>
              <a class = "btn blue darken-1" href="/auth/facebook">
              <i class="fa fa-facebook left"> </i>Login With Facebook
              </a>
            </li> --}}
            
          {{/if}}
          {{#if user}}
            <li class="logo-mobile"><div><img src="/images/BR_Logo_Transparent.png" width="74" height="35"/></div></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/proposals/my" class="active">Proposals</a></li>
            <li><a href="/offers/mySubmissions" class="active">Giveaways</a></li>
            <li><a href="/about" class="active">About</a></li>
            {{!-- <li><a href="/businesses">Businesses</a></li>
            <li><a href="/creatives" class="active">Creatives</a></li> --}}
            {{!-- <li><a href="/support">Support</a></li>  --}}
            <li><a href="/pioneers">Pioneers</a></li>
            <li><a href="/auth/logout">Logout</a></li>
          {{else}} 
            <li><a href="/businesses">Businesses</a></li>
            <li><a href="/creatives">Creatives</a></li>
            <li><a href="/howitworks">How it Works</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/pioneers">Pioneers</a></li>
            <li style="padding:0 30px;"><button data-target="modalLogin" class="btn brPink modal-trigger">Login</button></li>
          {{/if}}
        </ul> 
      </div>
    </div>
  </div>
</nav>

