
  <div class="home">
    <div class="row"> 
      <div class="col s12">
        <h1 class="proposal_title">Welcome {{user.firstName}}</h1> 
      </div>
      <div class="col s12">
        <p class="lead">Thank you for being one of our early Beta users. Here's a quick guide to get you started down your Byte Rights journey.</p>
      </div>
    </div>
  </div>
<div class="home_content-wrapper">
  <div class="grey-1">
    <div class="row">
      <div class="home_copy">
        <h3>User Details</h3>
      </div>
      <div class="col m6 s12">
        <h6><strong>First Name</strong></h6>
        <p>{{user.firstName}}</p>
        <h6><strong>Last Name</strong></h6>
        <p>{{user.lastName}}</p>
      </div>
      <div class="col m6 s12">
        <h6><strong>Company Name</strong></h6>
        <p>{{user.companyName}}</p>
      </div>
    </div>
    <div>
      <a class="btn blue" href="dashboard/edit">Edit</a>
    </div>
  </div>
  <div class="home_content-wrapper">
    <div class="row"> 
      <div class="col m6 s12">
        <div class="home_copy">
          <h3>It all starts with a Proposal</h3>
          <p>Go to the Proposals tab and hit the + New Proposal button in the top right.</p>
          <p>Paste in the link to the instagram picture you're interested in.</p>
          <p>Fill out some details like whether you'd like to compensate the creator of the picture.</p>
          <p>Hit Save and you're ready to share your proposal!</p>
        </div>
      </div>
      <div class="col m6 s12">
        <img class="img-fluid" src="/images/Proposal_Macbook.png">
      </div>
    </div>
  </div>
  <div class="home_content-wrapper">
    <div class="row"> 
      <div class="col m6 s12">
        <img class="img-fluid" src="/images/EricKarbelingArt.png">
      </div>
      <div class="col m6 s12">
        <div class="home_copy">
          <h3>Share your message</h3>
          <p>Because Instagram doesn't let you direct message from a desktop web browser, you have to use the Instagram app whether on Windows or your phone.</p>
          <p>Hit the Copy button to save your pre-written message to your clipboard.</p>
          <p>Click the link to the post to open Instagram and land on the desired post.</p>
          <p>Open up a Direct Message to the creator, hit paste, and send. Now we wait!</p>
        </div>
      </div>
    </div>  
  </div>  
  <div class="home_content-wrapper">
    <div class="row"> 
      <div class="col m6 s12">
        <div class="home_copy">
          <h3>Track your progress</h3>
          <p>Once you've sent out some proposals, you can see their status at a glance on the Proposals tab.</p>
          <p>Hit View to open up any single proposal and see any comments or responses.</p>
          <p>We encourage you to utilize the comments section so that all your conversations are on the same platform rather than needing to remember where certain things were said.</p>
          <p>Once the creator has responded with an approval, simply right click on the image and "Save Image As".</p>
        </div>
      </div>
      <div class="col m6 s12">
        <img class="img-fluid" src="/images/Hero_Licensing.png">
      </div>
    </div>
  </div>
  <div class="grey-1">
    <div class="row"> 
      <div class="col s12">  
        <div class="home_content-header">
          <h2>Free-to-Use</h2>
          <p>Because we don't want to get in the way of collaboration</p>
        </div>
      </div>
    </div>
  </div>
</div>
