.iconHome3ColBRPink {
  color:#FD8EF9;
  text-shadow:2px 2px 2px grey;
  padding-bottom: 25px;
}

.iconHome3ColBRBlue {
  color:#B6E9FF;
  text-shadow:2px 2px 2px grey;
  padding-bottom: 25px;
}

.pricing_content-table {
  text-align: center;
  padding: 10px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}