.body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  overflow-y: auto;
}
@media only screen and (max-width: 600px) {
  .body {
    flex-direction: column;
  }
}

.nav-horizontal {
  overflow-y: auto;
  min-height: 100%;
  height: auto;
  width: 100%;
  background-color: #000C4A;
  padding: 25px 0;
}
@media only screen and (max-width: 600px) {
  .nav-horizontal {
    width: 100%;
    padding: 25px 0 25px;
  }
}
.nav-horizontal ul li div {
  line-height: 1;
  padding-bottom: 30px;
}
@media only screen and (max-width: 600px) {
  .nav-horizontal ul li div {
    line-height: 1;
    padding: 25px 25px 32px;
  }
}
.nav-horizontal .row {
  margin-bottom: 0;
}
.nav-horizontal .logo-mobile {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #000C4A;
}
.nav-horizontal .logo-mobile a {
  padding: 32px;
  line-height: 1;
  height: auto;
}
@media only screen and (max-width: 600px) {
  .nav-horizontal .nav_wrapper ul li a.logo {
    padding: 0 15px;
    line-height: 1;
  }
}

main {
  flex: 1 0 auto;
  width: calc(100% - 125px);
}
@media only screen and (max-width: 600px) {
  main {
    width: 100%;
  }
}

.nav_wrapper .fa-bars {
  font-size: 25px;
}

.nav_wrapper .group {
  height: 48px;
  width: 100%;
}

footer {
  margin-top: 20px;
}

.dash-status {
  text-transform: capitalize;
}

#delete-form {
  display: inline;
}

.br_container {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.br_container h1 {
  font-size: 35px;
  line-height: 37px;
  font-weight: 600;
  text-transform: capitalize;
}
.br_tabs .tab a {
  color: #000;
}
.br_tabs .tab a.active {
  color: #000;
  border-bottom: 4px solid #5B8CED;
}

.home_welcome {
  flex-direction: column;
}
.home_welcome .nav-horizontal {
  width: 100%;
}
.home_welcome .home_wrapper {
  max-width: 100%;
  width: 100%;
  height: calc(100vh - 90px);
}
.home_welcome .creative_home_wrapper {
  max-width: 100%;
  width: 100%;
  height: calc(100vh - 90px);
}
.home_welcome main {
  width: 100%;
}
.home_welcome .nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home_wrapper {
  display: flex;
  flex-direction: column;
  background-image: url("/images/UGC_Collage_2.png");
  height: 100%;
}
.home_container {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
  max-width: 1140px;
  margin: auto;
}
.home .row {
  margin-bottom: 0;
}
.creative_home_wrapper{
  display: flex;
  flex-direction: column;
  background-image: url("/images/Creatives_Photography.png");
  height: 100%;
}
.creative_home_container {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
  max-width: 1140px;
  margin: auto;
}
.creative_home .row {
  margin-bottom: 0;
}
.home_content {
  display: flex;
  flex-direction: column;
}
.home_content-header {
  text-align: center;
  padding: 40px 20px;
  width: 75%;
  margin: 0 auto;
}
.home_content-3col-center {
  text-align: center;
  /* padding: 40px 20px;
  width: 75%; */
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  .home_content-header {
    width: 100%;
  }
}
.home_content-header h2 {
  font-size: 31px;
  line-height: 33px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 15px;
}
.home_content-header p {
  margin: 0;
  padding-bottom: 15px;
}
.home_content-wrapper {
  max-width: 1140px;
  margin: 35px 15%;
}
.home_content-wrapper h3 {
  font-size: 26px;
  line-height: 28px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 15px;
}
@media only screen and (max-width: 600px) {
  .home_copy {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
  }
}

.landing_welcome {
  flex-direction: column;
}
.landing_welcome .nav-horizontal {
  width: 100%;
}
.landing_welcome .landing_wrapper {
  max-width: 100%;
  width: 100%;
  height: calc(100vh - 90px);
}
.landing_welcome main {
  width: 100%;
}
.landing_welcome .nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing_wrapper {
  display: flex;
  flex-direction: column;
  background-image: url("/images/UGC_Collage_2.png");
  height: 100%;
}
.landing_container {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
  max-width: 1140px;
  margin: auto;
}
.landing .row {
  margin-bottom: 0;
}
.landing_content {
  display: flex;
  flex-direction: column;
}
.landing_content-header {
  text-align: center;
  padding: 40px 20px;
  width: 75%;
  margin: 0 auto;
}
.landing_content-3col-center {
  text-align: center;
  /* padding: 40px 20px;
  width: 75%; */
  margin: 0 auto;
}
.landing_content-2col-center {
  text-align: center;
  /* padding: 40px 20px;
  width: 75%; */
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  .landing_content-header {
    width: 100%;
  }
}
.landing_content-header h2 {
  font-size: 31px;
  line-height: 33px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 15px;
}
.landing_content-header p {
  margin: 0;
  /* padding-bottom: 15px; */
}
.landing_content-wrapper {
  max-width: 1140px;
  margin: 35px auto;
}
.landing_content-wrapper h3 {
  font-size: 26px;
  line-height: 28px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 15px;
}
@media only screen and (max-width: 600px) {
  .landing_copy {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
  }
}

.proposal_wrapper {
  display: flex;
  flex-direction: column;
}
.proposal_wrapper .row {
  margin-bottom: 0;
}
.proposal_topbar {
  display: flex;
  padding: 20px 0 0;
}
@media only screen and (max-width: 600px) {
  .proposal_topbar {
    flex-direction: column;
  }
}
.proposal_filter {
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
}
@media only screen and (max-width: 600px) {
  .proposal_filter {
    flex-direction: column;
  }
}
.proposal_filter .row {
  margin-bottom: 0;
}
.proposal_item {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #E2E2E2;
  padding: 10px 0 8px;
}
@media only screen and (max-width: 600px) {
  .proposal_item {
    padding: 20px 0 18px;
    flex-direction: column;
  }
}
.proposal_item .btn-floating {
  bottom: 20px;
}
.proposal_title {
  font-size: 35px;
  line-height: 37px;
  font-weight: 600;
  margin: 0;
  padding: 0 0 10px;
}
@media only screen and (max-width: 600px) {
  .proposal_title {
    padding: 0 0 10px;
  }
}
.proposal_image {
  max-width: 87px;
  min-width: 87px;
}
@media only screen and (max-width: 600px) {
  .proposal_image {
    max-width: 100%;
    min-width: 100%;
  }
}
.proposal_add-wrapper {
  margin: 20px 0 0;
}
.proposal_show-topbar {
  margin-bottom: 0;
}
.proposal_show-content {
  display: flex;
  padding: 20px 0;
}
@media only screen and (max-width: 600px) {
  .proposal_show-content {
    flex-direction: column-reverse;
  }
}
.proposal-label {
  padding: 0;
  margin: 0 0 -15px;
  font-weight: 600;
  font-style: italic;
}
@media only screen and (max-width: 600px) {
  .proposal-btn {
    width: 100%;
  }
}
.proposal p {
  margin: 0;
}

.primary {
  background-color: #5B8CED !important;
}

.alternate {
  background-color: #F3F3F3 !important;
}

.grey-1 {
  background-color: #f8f9fa !important;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin--top {
  margin-top: 0 !important;
}

.no-margin--bottom {
  margin-bottom: 0 !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.word-break {
  word-break: break-word;
}

@media only screen and (max-width: 600px) {
  .pull-right-sm {
    float: right;
  }
}

@media only screen and (min-width: 601px) {
  .pull-right-md {
    float: right;
  }
}

@media only screen and (min-width: 768px) {
  .pull-right-lg {
    float: right;
  }
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

@media only screen and (min-width: 601px) {
  .row .col.m-auto {
    width: auto;
  }
}

.proposal-row {
  display: none;
}

.proposal-row.active {
  display: block;
}

.btn-floating.halfway-fab.red {
  display: none;
}

.page-footer {
  margin: 0;
  padding: 0;
}

.brPink {
  background-color: #FD8EF9;
}

.brPink:hover {
  background-color:  rgb(241, 0, 233);
}

.brBlue {
  background-color: rgb(3, 172, 245) ;
  /* color:black; */
}

.brBlue:hover {
  background-color: #B6E9FF;
}

/*# sourceMappingURL=style.css.map */
