<div class="home_wrapper"> 
  <div class="home_container">
    <div class="row"> 
      <div class="col s12">
        <h1 class="proposal_title">Real Creatives, Real Content, Real Licenses</h1> 
      </div>
      <div class="col s12">
        <p class="lead">No more need for uploading to stock image libraries. Let your Instagram feed sell for you.</p>
      </div>
      <div class="col s12">
        {{#if user}} 
        {{else}} 
          <button data-target="modalLogin" class="btn brPink modal-trigger">Join Beta</button>
        - OR - 
        {{/if}} <button data-target="modalLogin" class="btn brBlue modal-trigger">Learn More</button>
      </div>
    </div>
  </div>
</div> 
<div class="landing_content">
  {{!-- <div class="grey-1"> --}}
    <div class="row"> 
      <div class="col m12 s12">
        <div class="landing_content-header">
          <h2>Social Media Marketing shouldn’t be difficult.</h2>
          <p>Whether your business is large or small, your customers can be your best influencers and sources of organic content. All you have to do is ask..</p>
        </div>
      </div>
    </div>
  {{!-- </div> --}}
  <div class="landing_content-wrapper">
    <div class="row"> 
      <div class="col m4 s12">
        <div class="landing_content-3col-center">
          <h3>1</h3>
          <h3>Motivate</h3>
          <p>With every sale, service, or visit, ask your customers to share their experience on Instagram for a chance to be featured on your channels.</p>
        </div>
      </div>
      <div class="col m4 s12">
        <div class="landing_content-3col-center">
          <h3>2</h3>
          <h3>Request</h3>
          <p>Keep an eye on the pictures your brand gets tagged in, and when you see a photo you like, ask the creator for permission to use it in exchange for products, credits, cash, etc.</p>
        </div>
      </div>
      <div class="col m4 s12">
        <div class="landing_content-3col-center">
          <h3>3</h3>
          <h3>Post</h3>
          <p>Give your loyal customer the thrill of getting reposted by a brand they love, and share organic content that is more personal.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row"> 
    <div class="col m12 s12">
      <div class="landing_content-header">
        <h2>User-Generated Content Wins</h2>
        <p>Studies show that people are much more likely to engage with user-generated content based advertisements than traditionally staged ads. A vast majority of consumers say that they will search for existing customer feedback and engagement with your brand before making a purchasing desicion. Add this strategy to your toolbelt and see the results immediately.</p>
      </div>
    </div>
  </div>
  <div class="landing_content-wrapper">
    <div class="row"> 
      <div class="col m6 s12">
        <div class="landing_copy">
          <h3>Not a Lawyer? No Problem.</h3>
          <p>Our Licensing Engine will help you and your collaborator create a licensing contract that specifies exactly what you’re agreeing to. We’ll just ask a few questions that will help us create the right contract for you. Terms like types of usage, number of prints, exclusivity, credit, compensation, and duration can all be added to your license.</p>
        </div>
      </div>
      <div class="col m6 s12">
        <img class="img-fluid" src="/images/Proposal_Macbook.png">
      </div>
    </div>
  </div>
  <div class="landing_content-wrapper">
    <div class="row"> 
      <div class="col m6 s12">
        <img class="img-fluid" src="/images/EricKarbelingArt.png">
      </div>
      <div class="col m6 s12">
        <div class="landing_copy">
          <h3>No More Trust Issues</h3>
          <p>Ever been burned by a deal gone sour because of low-res files? We only release payments once we’ve validated that the photographer has uploaded a highenough resolution version of the photo(s) in question and that you’ve approved. Gone are the days of awkward, “No, you first” conversations.</p>
        </div>
      </div>
    </div>  
  </div>  
  <div class="landing_content-wrapper">
    <div class="row"> 
      <div class="col m6 s12">
        <div class="landing_copy">
          <h3>Credit Your Creatives</h3>
          <p>Professional photographers and influencers are using Instagram as their portfolio and it’s easy to find content that your business can use to its benefit. Reach out to ask permission and offer them appropriate compensation for their creativity and influence. We’ve made cash payments easy.</p>
        </div>
      </div>
      <div class="col m6 s12">
        <img class="img-fluid" src="/images/Hero_Licensing.png">
      </div>
    </div>
  </div>
  <div class="grey-1">
    <div class="row"> 
      <div class="col s12">  
        <div class="landing_content-header">
          <h2>Free-to-Use</h2>
          <p>Because we don't want to get in the way of collaboration</p>
        </div>
      </div>
    </div>
  </div>
  <div class="landing_content-wrapper">
    <div class="row"> 
      <div class="col m6 s12">
        <img class="img-fluid" src="/images/iRockerPaddleboards.png">
      </div>
      <div class="col m6 s12">
        <div class="landing_copy">
          <h3>User Generated Content is now</h3>
          <p>We want to make your business's content creation easier and more valuable by leveraging your best brand reps.</p>
          <p>Your Customers!</p>
          <p>UGC is already being leveraged by industry leaders across the globe, but we believe businesses of any size should be able to utilize the same strategy.</p>
          <p>Our digital media licensing tool will provide the business and creator with the legal documentation needed.</p>
        </div>
      </div>
    </div>    
  </div>

    <div class="row"> 
      <div class="col s12">
        {{#if user}} 
        {{else}} 
          <button data-target="modalLogin" class="btn brPink waves-pink modal-trigger">Join Beta</button>
        - OR - 
        {{/if}} <button data-target="modalLogin" class="btn brBlue modal-trigger">Learn More</button>
      </div>
    </div>    

  
</div>

<!-- Modal Login Structure-->
<div id="modalLogin" class="modal">
  <div class="modal-content">
    {{!-- <div class="modal-header">
      <nav class="nav-horizontal">
        <div class="row">
          <div class="col s12">
            <div class="nav_wrapper" width= "100%" style="height: 48px;">
              <img src="/images/ByteRights_BETA_Logo.png" width="74" height="45"/>
            </div>
          </div>
        </div>
      </nav>
    </div> --}}
    <div class= "center-align">
    <h4>Please Login</h4>

      <a class = "btn red darken-1" href="/proposals/showClient/{{proposal.id}}">
        <i class="fa fa-google left"></i>Login with Google
      </a>
      <br>
      <br>
      <a class = "btn blue darken-1 row center-align" href="/proposals/showFBClient/{{proposal.id}}">
        <i class="fa fa-facebook left"></i>Login with Facebook
      </a>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<script>
  //modal logic materialize
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    //instances below used to have (elems, options) for whatever reason it didn't like options?? log said options was undefined.
    var instances = M.Modal.init(elems);
  });

</script>