<div class="landing_content-wrapper">
  <div class="row"> 
    <div class="col m6 s12">
      <div class="landing_copy">
        <h3>Proposals</h3>
        <p>Use the proposal tool to request licensing rights for images you find on Instagram. These could be one-off requests to repost images for free, or a way to curate authentic images of subjects you'd otherwise look for on stock image libraries and offer the creators direct cash compensation.</p>
      </div>
    </div>
    <div class="col m6 s12">
      <div class="slideshow-containerBR" style="padding:15px;background-color:#B6E9FF;border-radius:5px;box-shadow:2px 2px 5px grey;height: 330px;">
        <div class="PmySlides fadeBR">
          <div class="numbertext">1 / 6</div>
          <div class="center-align">
            <img  src="/images/Proposal_Step1.png" style="width:100%;max-width:400px;">
          </div>
          <p>Copy the link to a photo you would like to create a proposal for.</p>  
        </div>
          <div class="PmySlides fadeBR">
            <div class="numbertext">2 / 6</div>
              <div class="center-align">
                <img  src="/images/Proposal_Step2.png" style="width:100%;max-width:400px;">
              </div>
              <p>Create a proposal to license the picture by pasting the link and answering a few questions.</p>  
            </div>
        <div class="PmySlides fadeBR">
          <div class="numbertext">3 / 6</div>
            <div class="center-align">
              <img  src="/images/Proposal_Step3.png" style="width:100%;max-width:400px;">
            </div>
            <p>Share the proposal with the buyer or seller with a simple link.</p>  
        </div>
        <div class="PmySlides fadeBR">
          <div class="numbertext">4 / 6</div>
            <div class="center-align">
              <img  src="/images/Proposal_Step4.png" style="width:100%;max-width:400px;">
            </div>
            <p>Recipient opens the link and reviews the terms of the proposal. They can accept the terms of the agreement or comment requesting changes.</p>  
        </div>
        <div class="PmySlides fadeBR">
          <div class="numbertext">5 / 6</div>
            <div class="center-align">
              <img  src="/images/Proposal_Step5.png" style="width:100%;max-width:400px;">
            </div>
            <p>Contract is generated for both parties and a public version is made available for reference.</p>  
        </div>
        <div class="PmySlides fadeBR">
          <div class="numbertext">6 / 6</div>
            <div class="center-align">
              <img  src="/images/Proposal_Step6.png" style="width:100%;max-width:400px;">
            </div>
            <p>Any compensation is collected and added to the seller’s balance.</p>  
        </div>
      <a class="prevBR" onclick="PplusSlides(-1)">&#10094;</a>
      <a class="nextBR" onclick="PplusSlides(1)">&#10095;</a>
    </div>
  </div>
  <br>

  <div style="text-align:center">
    <span class="Pdot" onclick="PcurrentSlide(1)"></span> 
    <span class="Pdot" onclick="PcurrentSlide(2)"></span> 
  </div>
</div>    
<div class="landing_content-wrapper">
  <div class="row"> 
    <div class="col m6 s12">
      <div class="landing_copy">
        <h3>Giveaways</h3>
        <p>We've re-written how giveways can work on Instagram. Inspire your customers to share their love for your brand with not just a few people tagged in the comments, but with their entire follower list by having them post an image of your brand, product, or service. By doing so you are leveraging each of your customers as super powerful "micro-influencers" performing word-of-mouth marketing for you on social media. Create an offer specifying what your customers can expect to receive in exchange for their support and watch the content submission pour in!</p>
      </div>
    </div>
    <div class="col m6 s12">
      <div class="slideshow-containerBR" style="padding:15px;background-color:#B6E9FF;border-radius:5px;box-shadow:2px 2px 5px grey;height: 360px;">
        <div class="GmySlides fadeBR">
          <div class="numbertext">1 / 5</div>
          <div class="center-align">
            <img  src="/images/Giveaways_Step1.png" style="width:100%;max-width:400px;">
          </div>
          <p>Hit the "New Offer" button to specify the giveaway's details like what you're going to award your customers with, how you plan to use their photos, whether you need to approve their submissions, etc.</p>  
        </div>
          <div class="GmySlides fadeBR">
            <div class="numbertext">2 / 5</div>
              <div class="center-align">
                <img  src="/images/Giveaways_Step2.png" style="width:100%;max-width:400px;">
              </div>
              <p>Share the offer with your customers by using the unique URL for this giveway.</p>  
            </div>
        <div class="GmySlides fadeBR">
          <div class="numbertext">3 / 5</div>
            <div class="center-align">
              <img  src="/images/Giveaways_Step3.png" style="width:100%;max-width:400px;">
            </div>
            <p>Your customers will then be able to submit their Instagram posts directly on Byte Rights and appear in your "Received" feed.</p>  
        </div>
        <div class="GmySlides fadeBR">
          <div class="numbertext">4 / 5</div>
            <div class="center-align">
              <img  src="/images/Giveaways_Step4.png" style="width:100%;max-width:400px;">
            </div>
            <p>Once you've awarded a customer with their prize, Byte Rights will help you prevent sharing coupon codes, multiple prize redemptions, and provide you with conversion metrics.</p>  
        </div>
        <div class="GmySlides fadeBR">
          <div class="numbertext">5 / 5</div>
            <div class="center-align">
              <img  src="/images/Giveaways_Step5.png" style="width:100%;max-width:400px;">
            </div>
            <p>Contract is generated for both parties and a public version is made available for reference.</p>  
        </div>
      <a class="prevBR" onclick="GplusSlides(-1)">&#10094;</a>
      <a class="nextBR" onclick="GplusSlides(1)">&#10095;</a>
    </div>
  </div>
  <br>

  <div style="text-align:center">
    <span class="Gdot" onclick="GcurrentSlide(1)"></span> 
    <span class="Gdot" onclick="GcurrentSlide(2)"></span> 
  </div>
</div>
<div class="landing_content-wrapper">
  <div class="row"> 
    <div class="col s12 center-align">
      {{#if user}} 
      {{else}} 
        <button data-target="modalLogin" class="btn brPink waves-pink modal-trigger">Join Beta</button>
      - OR - 
      {{/if}} <a class="btn brBlue" href="/howitworks">Learn More</a>
    </div>
  </div>
</div>

<!-- Modal Login Structure-->
<div id="modalLogin" class="modal">
  <div class="modal-content">
    {{!-- <div class="modal-header">
      <nav class="nav-horizontal">
        <div class="row">
          <div class="col s12">
            <div class="nav_wrapper" width= "100%" style="height: 48px;">
              <img src="/images/ByteRights_BETA_Logo.png" width="74" height="45"/>
            </div>
          </div>
        </div>
      </nav>
    </div> --}}
    <div class= "center-align">
    <h4>Please Login</h4>

      <a class = "btn red darken-1" href="/auth/google">
        <i class="fab fa-google left"></i>Login with Google
      </a>
      <br>
      <br>
      <a class = "btn blue darken-1 row center-align" href="/auth/facebook">
        <i class="fab fa-facebook-f left"></i>Login with Facebook
      </a>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<script>
  //modal logic materialize
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    //instances below used to have (elems, options) for whatever reason it didn't like options?? log said options was undefined.
    var instances = M.Modal.init(elems);
  });


//carousel javascript section
var PslideIndex = 1;
PshowSlides(PslideIndex);

function PplusSlides(Pn) {
  PshowSlides(PslideIndex += Pn);
}

function PcurrentSlide(Pn) {
  PshowSlides(PslideIndex = Pn);
}

function PshowSlides(Pn) {
  var Pi;
  var Pslides = document.getElementsByClassName("PmySlides");
  var Pdots = document.getElementsByClassName("Pdot");
  if (Pn > Pslides.length) {PslideIndex = 1}    
  if (Pn < 1) {PslideIndex = Pslides.length}
  for (Pi = 0; Pi < Pslides.length; Pi++) {
      Pslides[Pi].style.display = "none";  
  }
  for (Pi = 0; Pi < Pdots.length; Pi++) {
      Pdots[Pi].className = Pdots[Pi].className.replace(" activeBR", "");
  }
  Pslides[PslideIndex-1].style.display = "block";  
  Pdots[PslideIndex-1].className += " activeBR";
}


var GslideIndex = 1;
GshowSlides(GslideIndex);

function GplusSlides(Gn) {
  GshowSlides(GslideIndex += Gn);
}

function GcurrentSlide(Gn) {
  GshowSlides(GslideIndex = Gn);
}

function GshowSlides(Gn) {
  var Gi;
  var Gslides = document.getElementsByClassName("GmySlides");
  var Gdots = document.getElementsByClassName("Gdot");
  if (Gn > Gslides.length) {GslideIndex = 1}    
  if (Gn < 1) {GslideIndex = Gslides.length}
  for (Gi = 0; Gi < Gslides.length; Gi++) {
      Gslides[Gi].style.display = "none";  
  }
  for (Gi = 0; Gi < Gdots.length; Gi++) {
      Gdots[Gi].className = Gdots[Gi].className.replace(" activeBR", "");
  }
  Gslides[GslideIndex-1].style.display = "block";  
  Gdots[GslideIndex-1].className += " activeBR";
}


</script>