<div class="home_wrapper"> 
  <div class="home_container">
    <div class="row"> 
      <div class="col s12">
        <h1 class="proposal_title">Real People, Real Content, Real Licenses</h1> 
      </div>
      <div class="col s12">
        <p class="lead">Leverage your Instagram feed as an endless supply of user-generated content for all your marketing and social media needs.</p>
      </div>
      <div class="col s12">
        {{#if user}} 
        {{else}} 
          <button data-target="modalLogin" class="btn brPink modal-trigger">Join Beta</button>
        {{/if}}
      </div>
    </div>
  </div>
</div> 
  <div class="landing_content-wrapper">
    <div class="row"> 
    <div class="row">
      <div class="slideshow-containerBR ">

      <div class="PmySlides fadeBR">
        <div class="numbertext">1 / 2</div>
        <p class="center-align">After posting on Instagram hit the three dots above your image.</p>
        <div class="center-align">
          <img  src="/images/CopyLink1.jpg" style="width:100%;max-width:315px;">
        </div>  
      </div>

      <div class="PmySlides fadeBR">
        <div class="numbertextBR">2 / 2</div>
        <p class="center-align">Select the copy link button to save the URL in your clipboard so you can paste it in the field below.</p>
        <div class="center-align">
          <img  src="/images/CopyLink2.jpg" style="width:100%;max-width:315px;">
        </div>        
      </div>


      <a class="prevBR" onclick="PplusSlides(-1)">&#10094;</a>
      <a class="nextBR" onclick="PplusSlides(1)">&#10095;</a>

      </div>
      <br>

      <div style="text-align:center">
        <span class="Pdot" onclick="PcurrentSlide(1)"></span> 
        <span class="Pdot" onclick="PcurrentSlide(2)"></span> 
      </div>
    </div>      
    </div>
  </div>
</div>
  </div>
  <div class="landing_content-wrapper">
    <div class="row"> 
      <div class="col m6 s12">
        <div class="landing_copy">
          <h3>Giveaways</h3>
          <p>Our Licensing Engine will help you and your collaborator create a free licensing contract in under 30 seconds. Your contract can contain options like: types of usage, number of prints, exclusivity, credit, compensation, and duration. If you need something more custom, reach out to our team and we would be glad to hear from you and see how we can help.</p>
        </div>
      </div>
    <div class="row">
      <div class="slideshow-containerBR ">

      <div class="GmySlides fadeBR">
        <div class="numbertext">1 / 2</div>
        <p class="center-align">After posting on Instagram hit the three dots above your image.</p>
        <div class="center-align">
          <img  src="/images/CopyLink1.jpg" style="width:100%;max-width:315px;">
        </div>  
      </div>

      <div class="GmySlides fadeBR">
        <div class="numbertextBR">2 / 2</div>
        <p class="center-align">Select the copy link button to save the URL in your clipboard so you can paste it in the field below.</p>
        <div class="center-align">
          <img  src="/images/CopyLink2.jpg" style="width:100%;max-width:315px;">
        </div>        
      </div>


      <a class="prevBR" onclick="GplusSlides(-1)">&#10094;</a>
      <a class="nextBR" onclick="GplusSlides(1)">&#10095;</a>

      </div>
      <br>

      <div style="text-align:center">
        <span class="Gdot" onclick="GcurrentSlide(1)"></span> 
        <span class="Gdot" onclick="GcurrentSlide(2)"></span> 
      </div>
    </div>    
    </div>
  </div>  
</div>  
  <div class="landing_content-wrapper">
    <div class="row"> 
      <div class="col m6 s12 ">
        <div class="landing_copy">
          <h3>Credit Your Creatives</h3>
          <p>Professional photographers and influencers are using Instagram as their portfolio and it’s easy to find user-generated content that your business can use to its benefit. Offering a creative as little as $5 increases your UGC conversion rate by at least 45%. We’ve made it easy to compensate your collaborators with cash, product, or services in exchange for their content, creativity and influence.</p>
        </div>
      </div>
      <div class="col m6 s12 center-align">
        <i class="fas fa-dollar-sign fa-7x" style="color:#B6E9FF;text-shadow:2px 2px 2px grey;"></i>
      </div>
    </div>
  </div>
  <div class="row"> 
    <div class="col s12">
      {{#if user}} 
      {{else}} 
        <button data-target="modalLogin" class="btn brPink waves-pink modal-trigger">Join Beta</button>
      - OR - 
      {{/if}} <a class="btn brBlue" href="/howitworks">Learn More</a>
    </div>
  </div>
</div>

<!-- Modal Login Structure-->
<div id="modalLogin" class="modal">
  <div class="modal-content">
    {{!-- <div class="modal-header">
      <nav class="nav-horizontal">
        <div class="row">
          <div class="col s12">
            <div class="nav_wrapper" width= "100%" style="height: 48px;">
              <img src="/images/ByteRights_BETA_Logo.png" width="74" height="45"/>
            </div>
          </div>
        </div>
      </nav>
    </div> --}}
    <div class= "center-align">
    <h4>Please Login</h4>

      <a class = "btn red darken-1" href="/auth/google">
        <i class="fab fa-google left"></i>Login with Google
      </a>
      <br>
      <br>
      <a class = "btn blue darken-1 row center-align" href="/auth/facebook">
        <i class="fab fa-facebook-f left"></i>Login with Facebook
      </a>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<script>
  //modal logic materialize
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    //instances below used to have (elems, options) for whatever reason it didn't like options?? log said options was undefined.
    var instances = M.Modal.init(elems);
  });


//carousel javascript section
var PslideIndex = 1;
PshowSlides(PslideIndex);

function PplusSlides(Pn) {
  PshowSlides(PslideIndex += Pn);
}

function PcurrentSlide(Pn) {
  PshowSlides(PslideIndex = Pn);
}

function PshowSlides(Pn) {
  var Pi;
  var Pslides = document.getElementsByClassName("PmySlides");
  var Pdots = document.getElementsByClassName("Pdot");
  if (Pn > Pslides.length) {PslideIndex = 1}    
  if (Pn < 1) {PslideIndex = Pslides.length}
  for (Pi = 0; Pi < Pslides.length; Pi++) {
      Pslides[Pi].style.display = "none";  
  }
  for (Pi = 0; Pi < Pdots.length; Pi++) {
      Pdots[Pi].className = Pdots[Pi].className.replace(" activeBR", "");
  }
  Pslides[PslideIndex-1].style.display = "block";  
  Pdots[PslideIndex-1].className += " activeBR";
}


var GslideIndex = 1;
GshowSlides(GslideIndex);

function GplusSlides(Gn) {
  GshowSlides(GslideIndex += Gn);
}

function GcurrentSlide(Gn) {
  GshowSlides(GslideIndex = Gn);
}

function GshowSlides(Gn) {
  var Gi;
  var Gslides = document.getElementsByClassName("GmySlides");
  var Gdots = document.getElementsByClassName("Gdot");
  if (Gn > Gslides.length) {GslideIndex = 1}    
  if (Gn < 1) {GslideIndex = Gslides.length}
  for (Gi = 0; Gi < Gslides.length; Gi++) {
      Gslides[Gi].style.display = "none";  
  }
  for (Gi = 0; Gi < Gdots.length; Gi++) {
      Gdots[Gi].className = Gdots[Gi].className.replace(" activeBR", "");
  }
  Gslides[GslideIndex-1].style.display = "block";  
  Gdots[GslideIndex-1].className += " activeBR";
}


</script>