<div class="home_wrapper"> 
  <div class="home_container">
    <div class="row"> 
      <div class="col s12">
        <h1 class="proposal_title">Real People, Real Content, Real Licenses</h1> 
      </div>
      <div class="col s12">
        <p class="lead">Leverage your Instagram feed as an endless supply of user-generated content for all your marketing and social media needs.</p>
      </div>
      <div class="col s12">
        {{#if user}} 
        {{else}} 
          <button data-target="modalLogin" class="btn brPink modal-trigger">Join Beta</button>
        {{/if}}
      </div>
    </div>
  </div>
</div> 
  <div class="landing_content-wrapper">
    <div class="row"> 
      <div class="col m6 s12">
        <div class="landing_copy">
          <h3>Giveaways</h3>
          <p>Our Licensing Engine will help you and your collaborator create a free licensing contract in under 30 seconds. Your contract can contain options like: types of usage, number of prints, exclusivity, credit, compensation, and duration. If you need something more custom, reach out to our team and we would be glad to hear from you and see how we can help.</p>
        </div>
      </div>
      <div class="col m6 s12">
        <div class="slideshow-containerBR ">
          <div class="giveaways fadeBR">
            <div class="numbertext">1 / 5</div>
            <div class="center-align">
              <img  src="/images/CopyLink1.jpg" style="width:100%;max-width:315px;">
            </div>
            <p>Hit the "New Offer" button to specify the giveaway's details like what you're going to award your customers with, how you plan to use their photos, whether you need to approve their submissions, etc.</p>  
          </div>
            <div class="giveaways fadeBR">
              <div class="numbertext">2 / 5</div>
                <div class="center-align">
                  <img  src="/images/CopyLink1.jpg" style="width:100%;max-width:315px;">
                </div>
                <p>Share the offer with your customers by using the unique URL for this giveway.</p>  
              </div>
          <div class="giveaways fadeBR">
            <div class="numbertext">3 / 5</div>
              <div class="center-align">
                <img  src="/images/CopyLink1.jpg" style="width:100%;max-width:315px;">
              </div>
              <p>Your customers will then be able to submit their Instagram posts directly on Byte Rights and appear in your "Received" feed.</p>  
          </div>
          <div class="giveaways fadeBR">
            <div class="numbertext">4 / 5</div>
              <div class="center-align">
                <img  src="/images/CopyLink1.jpg" style="width:100%;max-width:315px;">
              </div>
              <p>Once you've awarded a customer with their prize, Byte Rights will help you prevent sharing coupon codes, multiple prize redemptions, and provide you with conversion metrics.</p>  
          </div>
          <div class="giveaways fadeBR">
            <div class="numbertext">5 / 5</div>
              <div class="center-align">
                <img  src="/images/CopyLink1.jpg" style="width:100%;max-width:315px;">
              </div>
              <p>Contract is generated for both parties and a public version is made available for reference.</p>  
          </div>
          <a class="prevBR" onclick="plusSlides(-1)">&#10094;</a>
          <a class="nextBR" onclick="plusSlides(1)">&#10095;</a>

        </div>
      <br>

      <div style="text-align:center">
        <span class="gdot" onclick="currentSlide(1)"></span> 
        <span class="gdot" onclick="currentSlide(2)"></span>
        <span class="gdot" onclick="currentSlide(3)"></span>
        <span class="gdot" onclick="currentSlide(4)"></span>
        <span class="gdot" onclick="currentSlide(5)"></span> 
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="landing_content-wrapper">
    <div class="row"> 
      <div class="col m6 s12">
        <div class="landing_copy">
          <h3>Giveaways</h3>
          <p>Our Licensing Engine will help you and your collaborator create a free licensing contract in under 30 seconds. Your contract can contain options like: types of usage, number of prints, exclusivity, credit, compensation, and duration. If you need something more custom, reach out to our team and we would be glad to hear from you and see how we can help.</p>
        </div>
      </div>
      <div class="col m6 s12">
        {{!-- <i class="fas fa-file-signature fa-7x" style="color:#B6E9FF;text-shadow:2px 2px 2px grey;"></i> --}}
        <div class="row">
          <div class="slideshow-containerBR ">
            <div class="proposals fadeBR">
              <div class="numbertext">1 / 5</div>
                <div class="center-align">
                  <img  src="/images/CopyLink1.jpg" style="width:100%;max-width:315px;">
                </div>
                <p>Hit the "New Offer" button to specify the giveaway's details like what you're going to award your customers with, how you plan to use their photos, whether you need to approve their submissions, etc.</p>  
              </div>
            <div class="proposals fadeBR">
              <div class="numbertext">2 / 5</div>
                <div class="center-align">
                  <img  src="/images/CopyLink1.jpg" style="width:100%;max-width:315px;">
                </div>
                <p>Share the offer with your customers by using the unique URL for this giveway.</p>  
            </div>
            <div class="proposals fadeBR">
              <div class="numbertext">3 / 5</div>
                <div class="center-align">
                  <img  src="/images/CopyLink1.jpg" style="width:100%;max-width:315px;">
                </div>
                <p>Your customers will then be able to submit their Instagram posts directly on Byte Rights and appear in your "Received" feed.</p>  
            </div>
            <div class="proposals fadeBR">
              <div class="numbertext">4 / 5</div>
                <div class="center-align">
                  <img  src="/images/CopyLink1.jpg" style="width:100%;max-width:315px;">
                </div>
                <p>Once you've awarded a customer with their prize, Byte Rights will help you prevent sharing coupon codes, multiple prize redemptions, and provide you with conversion metrics.</p>  
            </div>
            <div class="proposals fadeBR">
              <div class="numbertext">5 / 5</div>
                <div class="center-align">
                  <img  src="/images/CopyLink1.jpg" style="width:100%;max-width:315px;">
                </div>
                <p>Contract is generated for both parties and a public version is made available for reference.</p>  
            </div>
            <a class="prevBR" onclick="plusSlides(-1)">&#10094;</a>
            <a class="nextBR" onclick="plusSlides(1)">&#10095;</a>

          </div>
          <br>
          <div style="text-align:center">
            <span class="pdot" onclick="currentSlide(6)"></span> 
            <span class="pdot" onclick="currentSlide(7)"></span>
            <span class="pdot" onclick="currentSlide(8)"></span>
            <span class="pdot" onclick="currentSlide(9)"></span>
            <span class="pdot" onclick="currentSlide(10)"></span> 
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>  
  <div class="landing_content-wrapper">
    <div class="row"> 
      <div class="col m6 s12 ">
        <div class="landing_copy">
          <h3>Credit Your Creatives</h3>
          <p>Professional photographers and influencers are using Instagram as their portfolio and it’s easy to find user-generated content that your business can use to its benefit. Offering a creative as little as $5 increases your UGC conversion rate by at least 45%. We’ve made it easy to compensate your collaborators with cash, product, or services in exchange for their content, creativity and influence.</p>
        </div>
      </div>
      <div class="col m6 s12 center-align">
        <i class="fas fa-dollar-sign fa-7x" style="color:#B6E9FF;text-shadow:2px 2px 2px grey;"></i>
      </div>
    </div>
  </div>
  <div class="row"> 
    <div class="col s12">
      {{#if user}} 
      {{else}} 
        <button data-target="modalLogin" class="btn brPink waves-pink modal-trigger">Join Beta</button>
      - OR - 
      {{/if}} <a class="btn brBlue" href="/howitworks">Learn More</a>
    </div>
  </div>
</div>

<!-- Modal Login Structure-->
<div id="modalLogin" class="modal">
  <div class="modal-content">
    {{!-- <div class="modal-header">
      <nav class="nav-horizontal">
        <div class="row">
          <div class="col s12">
            <div class="nav_wrapper" width= "100%" style="height: 48px;">
              <img src="/images/ByteRights_BETA_Logo.png" width="74" height="45"/>
            </div>
          </div>
        </div>
      </nav>
    </div> --}}
    <div class= "center-align">
    <h4>Please Login</h4>

      <a class = "btn red darken-1" href="/auth/google">
        <i class="fab fa-google left"></i>Login with Google
      </a>
      <br>
      <br>
      <a class = "btn blue darken-1 row center-align" href="/auth/facebook">
        <i class="fab fa-facebook-f left"></i>Login with Facebook
      </a>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<script>
  //modal logic materialize
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    //instances below used to have (elems, options) for whatever reason it didn't like options?? log said options was undefined.
    var instances = M.Modal.init(elems);
  });

  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function giveawaySlides(n) {
    var i;
    var slides = document.getElementsByClassName("giveaways");
    var dots = document.getElementsByClassName("gdot");
    if (n > slides.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" activeBR", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " activeBR";
  }

function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("proposals");
    var dots = document.getElementsByClassName("pdot");
    if (n > slides.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" activeBR", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " activeBR";
  }

</script>