<div class="landing_content">
    <div class="col m12 s12">
        <div class="landing_content-header">
            <h2>Collaboration should be free</h2>
            <p>That's why creating, negotiating, and signing licensing agreements on Byte Rights costs $0</p>
        </div>
    </div>
</div>
<div class="pricing_content-table">
    <div class="col m6 s12">
        <table>
            <thead>
            <tr>
                <th>Feature</th>
                <th class="center-align">Free</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Creating a Proposal</td>
                <td class="center-align"><i class="fas fa-check"></i></td>
            </tr>
            <tr>
                <td>Share a Proposal</td>
                <td class="center-align"><i class="fas fa-check"></i></td>
            </tr>
            <tr>
                <td>Generate a Contract</td>
                <td class="center-align"><i class="fas fa-check"></i></td>
            </tr>
            <tr>
                <td>Library of Proposals</td>
                <td class="center-align"><i class="fas fa-check"></i></td>
            </tr>
            <tr>
                <td>Proposal Organizational Tools</td>
                <td class="center-align"><i class="fas fa-check"></i></td>
            </tr>
            <tr>
                <td>24/7 Support</td>
                <td class="center-align"><i class="fas fa-check"></i></td>
            </tr>
            <tr>
                <td>Non-Monetary Compensation (ex. gift-cards, product, services)</td>
                <td class="center-align"><i class="fas fa-check"></i></td>
            </tr>
            <tr>
                <td>Monetary Transactions</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div> 
    <div class="landing_content-wrapper landing_content-2col-center">
        <div class="row">
            <div class"col m12 s12">
                <div class="landing_content-header">
                    <h2>Breakdown for Monetary Transactions</h2>
                </div>
            </div>
            <div class="col m6 s12">
              <i class="far fa-credit-card fa-7x iconHome3ColBRBlue"></i>
              <div class="card">
                <div class="card-content">
                <span class="card-title">Payment</span>
                    <div>
                    <table style="font-size:18px;">
                        <tr style="border:0px;">
                        <td style="padding:5px 5px;">
                            Price:
                        </td>
                        <td style="padding:5px 5px;">
                            $10
                        </td>
                        </tr>
                        <tr>
                        <td style="padding:5px 5px;">
                            Application Fee (20%):
                        </td>
                        <td style="padding:5px 5px;">
                            $2
                        </td>
                        </tr>
                        <tr style="border:0px;">
                        <th>
                            Total:
                        </th>
                        <th>
                            $12
                        </th>
                        </tr>
                    </table>
                    </div>
                </div>
            </div>
                <div class="landing_content-2col-center">
                <h3>Buyer Fee</h3>
                <p>20% (incl. Credit Card & Application Fee)</p>
                </div>
            </div>
            <div class="col m6 s12">
                <i class="fas fa-cash-register fa-7x iconHome3ColBRPink"></i>
                <div class="card">
                    <div class="card-content">
                    <span class="card-title">Receiving</span>
                        <div>
                        <table style="font-size:18px;">
                            <tr style="border:0px;">
                            <td style="padding:5px 5px;">
                                Price:
                            </td>
                            <td style="padding:5px 5px;">
                                $10
                            </td>
                            </tr>
                            <tr>
                            <td style="padding:5px 5px;">
                                Application Fee (0%):
                            </td>
                            <td style="padding:5px 5px;">
                                $0
                            </td>
                            </tr>
                            <tr style="border:0px;">
                            <th>
                                Total:
                            </th>
                            <th>
                                $10
                            </th>
                            </tr>
                        </table>
                        </div>
                    </div>
                </div>
                <div class="landing_content-2col-center">
                <h3>Seller Fee</h3>
                <p>Free</p>
                </div>
            </div>
        </div>
    </div>
    <div class="center-align">
        <div class="row">
            <div class="col s12">
                {{#if user}} 
                {{else}} 
                    <button data-target="modalLogin" class="btn brPink modal-trigger">Join Beta</button>
                {{/if}}
            </div>
        </div>
    </div>    
</div>

<!-- Modal Login Structure-->
<div id="modalLogin" class="modal">
  <div class="modal-content">
    {{!-- <div class="modal-header">
      <nav class="nav-horizontal">
        <div class="row">
          <div class="col s12">
            <div class="nav_wrapper" width= "100%" style="height: 48px;">
              <img src="/images/ByteRights_BETA_Logo.png" width="74" height="45"/>
            </div>
          </div>
        </div>
      </nav>
    </div> --}}
    <div class= "center-align">
    <h4>Please Login</h4>

      <a class = "btn red darken-1" href="/auth/google">
        <i class="fab fa-google left"></i>Login with Google
      </a>
      <br>
      <br>
      <a class = "btn blue darken-1 row center-align" href="/auth/facebook">
        <i class="fab fa-facebook-f left"></i>Login with Facebook
      </a>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<script>
  //modal logic materialize
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    //instances below used to have (elems, options) for whatever reason it didn't like options?? log said options was undefined.
    var instances = M.Modal.init(elems);
  });

</script>