<div class="landing_content">
  {{!-- <div class="grey-1"> --}}
    <div class="row"> 
      <div class="col m12 s12">
        <div class="landing_content-header">
          <h2>Collaboration should be free</h2>
          <p>That's why creating, negotiating, and signing licensing agreements on Byte Rights costs $0</p>
        </div>
      </div>
    </div>
    <div class="landing_content-wrapper">
        <div class="row">
            <div class"col m12 s12">
                <div class="landing_content-header">
                    <h2>Fees for Cash transactions</h2>
                </div>
            </div>
            <div class="col m6 s12">
                <div class="landing_content-3col-center">
                <i class="fas fa-camera-retro fa-7x iconHome3ColBRBlue"></i>
                <h3>Buyer Fee</h3>
                <p>3% Credit Card Processing Fee</p>
                <p>17% Application Fee</p>
                </div>
            </div>
            <div class="col m6 s12">
                <div class="landing_content-3col-center">
                <i class="fab fa-instagram fa-7x iconHome3ColBRPink"></i>
                <h3>Seller Fee</h3>
                <p>Free</p>
                </div>
            </div>
        </div>
    </div>
</div>
