<div class="home_wrapper"> 
  <div class="home_container">
    <div class="row"> 
      <div class="col s12">
        <h1 class="proposal_title">Licensing Made Easy</h1> 
      </div>
      <div class="col s12">
        <p class="lead">Get the rights to use images, video, music, and art you find on any platform.</p>
      </div>
      <div class="col s12">
        {{#if user}} 
        {{else}} 
          <button data-target="modalLogin" class="btn brPink modal-trigger">Join Beta</button>
        - OR - 
        {{/if}} <a class="btn brBlue" href="/howitworks">Learn More</a>
      </div>
    </div>
  </div>
</div> 
<div class="home_content">
  <div class="grey-1">
    <div class="row"> 
      <div class="col m12 s12">
        <div class="home_content-header">
          <h2>Get your rights on any platform</h2>
          <p>Rather than search endlessly on stock image websites, or royalty free music libraries, why not search the places that all the best creators are already posting their content and interacting with their followers.</p>
          <p>That's right. We're talking Instagram, Youtube, Soundcloud, Vimeo, Twitter, you name it. As long as you can message the creator, ByteRights can help you.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="home_content-wrapper">
    <div class="row"> 
      <div class="col m6 s12">
        <div class="home_copy">
          <h3>Ask for Permission, not Forgiveness</h3>
          <p>Find any piece of content you like and use our proposal tool to share some details about how you want to use it with the owner.</p>
          <p>All the creator has to do is hit Accept and you'll be on your way towards creating an awesome collaboration together.</p>
          <p>If they're not convinced, you can message and negotiate the terms of your agreement right on the platform.</p>
        </div>
      </div>
      <div class="col m6 s12">
        <img class="img-fluid" src="/images/Proposal_Macbook.png">
      </div>
    </div>
  </div>
  <div class="home_content-wrapper">
    <div class="row"> 
      <div class="col m6 s12">
        <img class="img-fluid" src="/images/EricKarbelingArt.png">
      </div>
      <div class="col m6 s12">
        <div class="home_copy">
          <h3>Compensate Your Contributors</h3>
          <p>Art doesn’t create itself.</p>
          <p>Whether it’s an everyday camera-phone photographer or a professional with a DSLR, people are making beautiful content and that’s not easy.</p>
          <p>Agree on crediting each other's work when uploading to various platforms and mentioning each other on social media so as to bolster each other's fanbases.</p>
          <p>Consider compensating your partners with money, gift cards, free stuff, or anything else your imagination can come up with. It’s not only a nice thing to do, but it will also strengthen your reputation.</p>
        </div>
      </div>
    </div>  
  </div>  
  <div class="home_content-wrapper">
    <div class="row"> 
      <div class="col m6 s12">
        <div class="home_copy">
          <h3>Manage your library</h3>
          <p>As you collect the rights, or give out rights to all types of content, we'll keep all your agreements organized.</p>
          <p>See how your media has been used by others and share how you've used content with their owners too.</p>
          <p>Download full contracts for any of your agreements if the need arises.</p>
          <p>Our APIs will allow other platforms to see your ByteRights automatically to make things much easier.</p>
        </div>
      </div>
      <div class="col m6 s12">
        <img class="img-fluid" src="/images/Hero_Licensing.png">
      </div>
    </div>
  </div>
  <div class="grey-1">
    <div class="row"> 
      <div class="col s12">  
        <div class="home_content-header">
          <h2>Free-to-Use</h2>
          <p>Because we don't want to get in the way of collaboration</p>
        </div>
      </div>
    </div>
  </div>
  <div class="home_content-wrapper">
    <div class="row"> 
      <div class="col m6 s12">
        <img class="img-fluid" src="/images/iRockerPaddleboards.png">
      </div>
      <div class="col m6 s12">
        <div class="home_copy">
          <h3>User Generated Content is now</h3>
          <p>We want to make your business's content creation easier and more valuable by leveraging your best brand reps.</p>
          <p>Your Customers!</p>
          <p>UGC is already being leveraged by industry leaders across the globe, but we believe businesses of any size should be able to utilize the same strategy.</p>
          <p>Our digital media licensing tool will provide the business and creator with the legal documentation needed.</p>
        </div>
      </div>
    </div>    
  </div>  
  <div class="row"> 
      <div class="col s12">
        {{#if user}} 
        {{else}} 
          <button data-target="modalLogin" class="btn brPink waves-pink modal-trigger">Join Beta</button>
        - OR - 
        {{/if}} <a class="btn brBlue " href="/howitworks">Learn More</a>
      </div>
    </div>   
</div>

<!-- Modal Login Structure-->
<div id="modalLogin" class="modal">
  <div class="modal-content">
    {{!-- <div class="modal-header">
      <nav class="nav-horizontal">
        <div class="row">
          <div class="col s12">
            <div class="nav_wrapper" width= "100%" style="height: 48px;">
              <img src="/images/ByteRights_BETA_Logo.png" width="74" height="45"/>
            </div>
          </div>
        </div>
      </nav>
    </div> --}}
    <div class= "center-align">
    <h4>Please Login</h4>

      <a class = "btn red darken-1" href="/auth/google">
        <i class="fa fa-google left"></i>Login with Google
      </a>
      <br>
      <br>
      <a class = "btn blue darken-1 row center-align" href="/auth/facebook">
        <i class="fa fa-facebook left"></i>Login with Facebook
      </a>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<script>
  //modal logic materialize
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    //instances below used to have (elems, options) for whatever reason it didn't like options?? log said options was undefined.
    var instances = M.Modal.init(elems);
  });

</script>