<div class="proposal_wrapper--add">
  <div class="row">
    <div class="col s12">
      <div class="proposal_topbar">
        <div class="col m6 pull-m6 s12">
          <h1 class="proposal_title">Create New Proposal</h1>
          <!-- <p>This is a sample offer message: Hi, my name is {{user.firstName}} {{user.lastName}}. I’m reaching out because we love this photo you posted! We’d be willing to compensate you with --amount/description will go here-- {{req.body.compensation}} for the rights to use it in our future campaigns. If you’re interested, follow this link to see the full details of our offer: <a href="#" class="word-break" target="_blank">byterights.com/proposals/show/uniqueProposalIdentifier</a></p> -->
        </div>
      </div>
    </div>
    <div class="col s12">
      <form class="proposal_add-wrapper" action="/proposals" method="post" id="newproposal">
        <div class="col m6 s12">
          <p>Start by pasting the URL for the Instagram image you wish to request rights for. It should be
            https://www.instagram.com/p/<strong>(unique ID of the photo)</strong>/</p>
          <div class="input-field">
            <input type="text" name="url">
            <label for="url">Instagram Image Link</label>
          </div>
<<<<<<< HEAD
        {{!-- adding a dropdown for seller/buyer --}}
        
          <div class="input-field">
            <select name="contractUserType">
                <option value="seller">Seller</option>
                <option value="buyer">Buyer</option>
            </select>
            <label for="contractUserType">Contract User Type</label>
          </div>
  
          <p>Next, write the name of the recipient you'll be sending the request to.</p>
=======
          <p>Next, write the name or username of the recipient you'll be sending the request to.</p>
>>>>>>> fb61b51f0f392f7d80807c7cce5eab4a75351e4c
          <div class="input-field">
            <input type="text" name="recipient">
            <label for="recipient">Recipient Name</label>
          </div>
          <p>Describe how and where you plan to use the photo.</p>
          <div class="input-field">
            <input type="text" name="usage" placeholder="i.e. Instagram, Website, Print, etc.">
          </div>

          {{!-- <div class="input-field">
              <select name="status">
                <option value="public" selected>Public</option>
                <option value="private">Private</option>
                <option value="unpublished">Unpublished</option>
              </select>
              <label for="status">Status</label>
            </div>  --}}
          <p>
            <p>Specify whether or not you will credit the creator when using the requested photo. (We recommend you do unless you're offering sufficient compensation.)</p>
            <p>
          <label>Credit</label>
          <div class="switch">
            <label>
            No
            <input type="checkbox" name="credit" id="credit" checked="checked">
            <span class="lever"></span>
            Yes
            </label>
          </div>
          </p>
          </p>
          <p>
            <p>Decide whether or not you'd like to allow the recipient to send you messages about the proposal.</p>
            <p>
          <label>Comments</label>
          <div class="switch">
            <label>
            Off
            <input type="checkbox" name="allowComments" id="allowComments" checked="checked">
            <span class="lever"></span>
            On
            </label>
          </div>
          </p>
          </p>
          <p>You may offer any form of compensation. If left blank, we won't mention it in your proposal.</p>
          <div class="input-field">
            <input type="text" name="compensation">
            <label for="compensation">Amount/Description</label>
          </div>
          <div class="input-field">
            <input type="text" name="price">
            <label for="price">Price</label>
          </div>
          <p>Lastly, to help keep your proposals organized, add any relevant tags.</p>
          <label>Tags</label>
          <div class="input-field">
            <input type="text" class="tags tagskeyup" data-role="materialtags" name="tags" id="tags">
            {{!-- <label for="tags">Tags</label> --}}
            <div id="suggesstion-box" style="border: 1px solid black;
                    padding: 9px 10px 4px;
                    margin-bottom: 15px;
                    display:none"><span id="suggesstion-inner"></span></div>
            {{#if tags}}
            Recent tags: <br />
            {{/if}}
            {{#each tags}}
            {{#if this}}
            <div class="chip recenttags" for="tags" style="cursor: pointer">
              {{this}}
            </div>
            {{/if}}
            {{/each}}
            {{!-- <label for="tags">Tags</label> --}}
          </div>
          <input type="button" value="Create Proposal" class="btn primary" onclick="$('#newproposal').submit()">
        </div>
      </form>
    </div>
  </div>
</div>

  <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>Materialize Select</label>
  </div>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });
</script>