<div class="proposal_wrapper--add">
  <div class="row">
    <div class="col s12">
      <div class="proposal_topbar">
        <div class="col m6 pull-m6 s12">
          <h1 class="proposal_title">Create New Offer</h1>
          <!-- <p>This is a sample offer message: Hi, my name is {{user.firstName}} {{user.lastName}}. I’m reaching out because we love this photo you posted! We’d be willing to compensate you with --amount/description will go here-- {{req.body.compensation}} for the rights to use it in our future campaigns. If you’re interested, follow this link to see the full details of our offer: <a href="#" class="word-break" target="_blank">byterights.com/proposals/show/uniqueProposalIdentifier</a></p> -->
        </div>
      </div>
    </div>
    <div class="col s12">
      <form class="proposal_add-wrapper" action="/proposals/addOffer/new" method="post" id="newproposal" >
        <div class="col m6 s12">
          <p>Start by pasting the URL for the Instagram image you wish to use when you announce your offer. It should look something like
            https://www.instagram.com/p/<strong>(the unique ID/URL of the photo)</strong>/</p>
          <div class="input-field">
            <input type="text" name="offerLink">
            <label for="offerLink">Instagram Announcement Link</label>
          </div>
          <p>Describe how and where you plan to use the photo.</p>
          <div class="input-field">
            {{!-- <select class="ignore-select" name="contractUserType">
              <option value="Instagram Repost">Instagram Repost</option>
              <option value="Website">Website</option>
            </select> --}}
            <input type="text" name="usage" value="Instagram Repost" placeholder="i.e. Instagram, Website, Print, etc.">
          </div>
          <p>
            <p>Specify whether or not you will credit the creator when using the requested photo. (We recommend you do unless you're offering sufficient compensation.)</p>
            <p>
          <label>Credit</label>
          <div class="switch">
            <label>
            No
            <input type="checkbox" name="credit" id="credit" checked="checked">
            <span class="lever"></span>
            Yes
            </label>
          </div>
          </p>
          </p>
          <p>
            <p>Do you want to accept images as they come in or allow as many submissions for your offer</p>
            <label>approval Needed</label>
            <div class="switch">
              <label>
              No
              <input type="checkbox" name="approvalNeeded" id="approvalNeeded" checked="checked">
              <span class="lever"></span>
              Yes
              </label>
            </div>
          </p>
          <p>You may offer any form of compensation. ex. 1 ice-cream with 2 toppings</p>
          <div class="input-field">
            <input type="text" name="compensation">
            <label for="compensation">Type of compensation</label>
          </div>
          <p>Below you can greet your customer and inform them what is going on in this page</p>
          <div class="input-field">
            <textarea id="welcomeMessage" name="welcomeMessage" class="materialize-textarea"></textarea>
            <label for="welcomeMessage">Welcome Message</label>
          </div>
          <p>Below you can give your customer any insights on how they will be reedeming this offer</p>
          <div class="input-field">
            <textarea id="redemptionInstructions" name="redemptionInstructions" class="materialize-textarea"></textarea>
            <label for="redemptionInstructions">Redemption Instructions</label>
          </div>
          <p>Lastly, to help keep your offers organized, add any relevant tags.</p>
          <label>Tags</label>
          <div class="input-field">
            <input type="text" class="tags tagskeyup" data-role="materialtags" name="tags" id="tags">
            {{!-- <label for="tags">Tags</label> --}}
            <div id="suggesstion-box" style="border: 1px solid black;
                    padding: 9px 10px 4px;
                    margin-bottom: 15px;
                    display:none"><span id="suggesstion-inner"></span></div>
            {{#if tags}}
            Recent tags: <br />
            {{/if}}
            {{#each tags}}
            {{#if this}}
            <div class="chip recenttags" for="tags" style="cursor: pointer">
              {{this}}
            </div>
            {{/if}}
            {{/each}}
            {{!-- <label for="tags">Tags</label> --}}
          </div>
          <input type="button" value="Create Proposal" class="btn primary" id="proposalSubmit" onclick="$('#newproposal').submit()">
        </div>
      </form>
    </div>
  </div>
</div>

<script>

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });


</script>