<div class="proposal_wrapper--add">
  <div class="row"> 
    <div class="col s12">
      <div class="proposal_topbar"> 
        <div class="col s6  pull-s6">        
          <h1 class="proposal_title">Edit Proposal</h1>
        </div>   
      </div>
    </div> 
    <div class="col s12">
      <form class="proposal_add-wrapper" action="/proposals/{{proposal.id}}?_method=PUT" method="post">
        <div class="col s6">
          <input type="hidden" name="_method" value="PUT"> 
          <div class="input-field">
            <input type="text" name="url" value = "{{proposal.url}}">
            <label for="url">Image Link</label> 
          </div>
          {{#if proposal.recipient}}
          <div class="input-field">
            <input type="text" name="name" value="{{proposal.recipient}}">
            <label for="name">Recipient Name</label>
          </div>  
          {{/if}}
          <div class="input-field">
            <select name="status">
              {{#select proposal.status}}
                <option value="public" selected>Public</option>
                <option value="private">Private</option>
                <option value="unpublished">Unpublished</option>
              {{/select}}
            </select>
            <label for="status">Status</label>
          </div>  
          <div class="input-field">
            <p>
              <label for="allowComments">
                <input type="checkbox" name="allowComments" class="filled-in" id="allowComments" {{#if proposal.allowComments}} checked="checked" {{/if}} />
                <span>Allow Comments</span>
              </label>
            </p> 
          </div>
          <div class="input-field">
            <input type="text" name="compensation" value="{{proposal.compensation}}"> 
            <label for="compensation">Amount/Description</label>
          </div> 
          <input type="submit" value="Save" class="btn primary">
        </div>
      </form>
    </div>    
  </div>   
</div>